*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    height: 100vh;
}

.slider {
    width: 100vw;
    height: 50vh;
    overflow: hidden;
    position: absolute;
}

.slides {
    display: flex; 
    width: 300%;
    height: 100%;   
}

.slide {
    width: 33.33%;
    transition: .5s;
}

.slide img {
    width: 100%;
    height: 160%;
}

.navigation-bar {
    display: flex;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%);
}

input {
    display: none;
}

.manual-btn {
    border: 2px solid #fff;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: #fff;
    transition: .4s;
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -33.33%;
}

#radio3:checked ~ .first {
    margin-left: -66.66%;
}